<p id="notice"><%= notice %></p>
<h1>bike Catalog</h1>
<% cache @bikes do %>
<% @bikes.each do |bike| %>
<% cache bike do %>
<div class="entry">
<%= image_tag(bike.image_url) %>
<h3>modelo:</h3>
<h3><%= bike.model %></h3>
<h3>descripcion:</h3>
<%= sanitize(bike.description) %>
<h3>precio:</h3>
<div class="price_line">
<span class="price"><%= number_to_currency(bike.price) %></span>
<%= button_to 'Add to Cart', line_items_path(bike_id: bike) %>
<h2>rin:</h2>
<span><%= bike.rin %></span>
</div>
</div>
<% end %>
<% end %>
<% end %>